.navbar-expand-md .navbar-collapse {
    justify-content: end;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
}
.carousel-indicators [data-bs-target]{
    background-color: #FDC830;
    padding: 1 px;

}
.carousel-item{
    margin-bottom: 80px;
}
.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.categories-pic{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}